<?xml version="1.0" encoding="UTF-8"?>


<phpunit 
    bootstrap="vendor/autoload.php"
    colors="true" 
>
  <testsuites>
    <testsuite name="Testes back-end">
      <directory suffix="Test.php">./test/</directory> <!--estamos informando que todo arquivo de teste terá a terminação "Text.php" no final do nome do arquivo. Além disso, informamos também que a pasta onde ficarão os arquivos de testes será a pasta 'test' -->
    </testsuite>
  </testsuites>
</phpunit>